<div class="body_wrapper">
  <div class="center">
    <div class="header_area">
      <div class="logo floatleft"><a href="#"><%= image_tag('logo.png') %></a></div>
      <div class="top_menu floatleft">
        <ul>
          <li><%= link_to  'Inicio', root_path %></li>
          <li><a href="#">Acerca</a></li>
          <li><a href="#">Contacto</a></li>
          <li><%= link_to  'Login', new_admin_user_session_path, target: '_BLANK' %></li>
        </ul>
      </div>
      <div class="social_plus_search floatright">
        <div class="social">
          <ul>
            <li><a href="#" class="twitter"></a></li>
            <li><a href="#" class="facebook"></a></li>
            <li><a href="#" class="feed"></a></li>
          </ul>
        </div>
        <div class="search">
          <form action="#" method="post" id="search_form">
            <input type="text" placeholder="buscar noticias" value="" id="s" />
            <input type="submit" id="searchform" value="search" />
            <input type="hidden" value="post" name="post_type" />
          </form>
        </div>
      </div>
    </div>

    <div class="main_menu_area">
      <ul id="nav">
        <% @sections.each do |it| %>
          <li>
            <a href=""><%= it[1] %></a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="slider_area">
    </div>

    <div class="content_area">
      <div class="main_content floatleft">
        <div class="left_coloum floatleft">
          <div class="single_left_coloum_wrapper">
            <h2 class="title">Las Ultimas Noticias</h2>
            <a class="more">V</a>
            <% @news_wall.each_slice(2) do |items| %>
              <% items.each do |item| %>
                <div class="single_left_coloum floatleft"> <%= image_tag(item.image.thumb.url, style: 'height:100px;width:145px;') if item.image? %>
                  <h2><%= item.slogan %> <%= item.title %> <%= item.subtitle %></h2>
                  <p><%= item.content %> <%= item.section.name %></p>
                  <%= link_to 'Leer más', new_details_path(item.id), class: "readmore" %>
                </div>
              <% end %>
            <% end %>
            <p class="news-letter-privacy"><%= paginate @news_wall %></p>
          </div>

          <div class="single_left_coloum_wrapper single_cat_left">
            <h2 class="title">Popular</h2>
            <a class="more" href="#">V</a>
            <div class="single_cat_left_content floatleft">
              <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit </h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...interdum</p>
              <p class="single_cat_left_content_meta">by <span>John Doe</span> |  29 comments</p>
            </div>
            <div class="single_cat_left_content floatleft">
              <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit </h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...interdum</p>
              <p class="single_cat_left_content_meta">by <span>John Doe</span> |  29 comments</p>
            </div>
            <div class="single_cat_left_content floatleft">
              <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit </h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...interdum</p>
              <p class="single_cat_left_content_meta">by <span>John Doe</span> |  29 comments</p>
            </div>
            <div class="single_cat_left_content floatleft">
              <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit </h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...interdum</p>
              <p class="single_cat_left_content_meta">by <span>John Doe</span> |  29 comments</p>
            </div>
          </div>
        </div>
        <div class="right_coloum floatright">
          <div class="single_right_coloum">
            <h2 class="title">Articulos</h2>
            <ul>
              <% @articles.each do |item| %>
                <div>
                  <%= link_to(articles_path(item.id)) do %>
                    <%= image_tag(item.image.thumb.url, style: 'height:100px;width:100px; rounded=true; background-size: cover; display: block; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px;') if item.image? %>
                    <h3><%= item.title %></h3>
                    <p class="single_cat_left_content_meta">Por <span><%= item.author %></span></p>              

                    Hace <%= time_ago_in_words(item.created_at) %>
                  <% end %>
                </div>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="sidebar floatright">
        <% @announcements.each do |t| %>
          <div class="single_sidebar"> <%= image_tag('add1.png') %></div>
          <%= t.customer_name %>
          <%= t.customer_url %>
        <% end %>

        <div class="single_sidebar">
        </div>
        <div class="single_sidebar">
          <div class="popular">
          </div>
        </div>
        <div class="single_sidebar"> <%= image_tag('add1.png') %> </div>
        <div class="single_sidebar">
          <h2 class="title">ADD</h2>
          <%= image_tag('add2.png') %>
        </div>
      </div>
    </div>

    <div class="footer_top_area">
      <div class="inner_footer_top"> <%= image_tag('add3.png') %> </div>
    </div>

    <div class="footer_bottom_area">
      <div class="footer_menu">
        <ul id="f_menu">
          <% @sections.each do |it| %>
            <li>
              <a href=""><%= it[1].try(:downcase) %></a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="copyright_text">
        <p>Copyright &copy; All rights reserved | Deseñado por <a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/davidsarmiento5/">David Sarmiento</a></p>
      </div>
    </div>
  </div>
</div>
