<style>
  .column {
    float: left;
    width: 50%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>

<div class="row">
  <div class="column">
    <table class='table'>
      <tr>
        <% @news_wall.each_slice(2) do |item1, item2| %>
          <td>
            <%= item1.slogan if item1 %>
            <%= item1.title if item1 %>
            <%= item1.subtitle if item1 %>
            <%= item1.author if item1 %>
            <%= item1.content if item1 %>
            <%= item1.section.name if item1 %>
          </td>
          <td>
            <%= item2.slogan if item2 %>
            <%= item2.title if item2 %>
            <%= item2.subtitle if item2 %>
            <%= item2.author if item2 %>
            <%= item2.content if item2 %>
            <%= item2.section.name if item2 %>
          </td>
      </tr>
        <% end %>
    </table>
  </div>
  <div class="column">
    <table>
      <tr>
        <% @announcements.each do |t| %>
        <td>
          <%= t.section.name %>
          <%= t.is_enabled %>
          <%= t.is_global %>
          <%= t.customer_name %>
          <%= t.customer_url %>
        </td>  
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div>
  <%= paginate @news_wall %>

  <%= link_to 'Load More', root_path(page: @news_wall.next_page), remote: true %>
</div>

