<p style="color: green"><%= notice %></p>

<%= render @news_wall %>

<div>
  <%= link_to "Edit this news wall", edit_news_wall_path(@news_wall) %> |
  <%= link_to "Back to news walls", news_walls_path %>

  <%= button_to "Destroy this news wall", @news_wall, method: :delete %>
</div>
