<!DOCTYPE html>
<html>
  <head>
    <title>Contra Poder Tlax</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "responsive" %>
    <%= stylesheet_link_tag "jquery.bxslider" %>
    <%= stylesheet_link_tag "font-awesome.min" %>
    <%= stylesheet_link_tag "font" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <head>
      <title>The News Reporter</title>
    </head>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
